.proyects {
    border-right: 1px solid black;
    display: grid;
    overflow: hidden;
    position: relative;
    width: 100%;
}
.proyects h1{
    text-align: center;
}
.proyects-article {
    display: flex;
    align-items: center;
}
.proyects-button{
    width: 60px;
    height: 40px;
    border: none;
    background-color: white;
}
.proyects-list{
    list-style: none;
}
.proyects-list img{
    width: 100%;
    height: auto;
    display: block;
}


@media (max-width: 768px) {
    .proyects {
        border-right: none;
    }
}