.secciones {
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-content: center;
    gap: 10px;
    margin: 0 10px;
}
@media (max-width: 1000px){
    .secciones {
        grid-template-columns: 1fr;
    }
}