* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Inter', 'Segoe UI', Arial, sans-serif;
}
@media (max-width: 650px) {
    .header {
        padding: 10px 12px;
    }

    .header-nav {
        margin-right: 0;
        gap: 6px;
    }

    .header-nav a {
        padding: 4px 6px;
        font-size: 14px;
        flex-wrap: wrap;
        justify-content: flex-end;
    }
}